html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

button {
  cursor: pointer;
}

.scrollable {
  height: 200px;
  flex: auto;
}

.content-style {
  opacity: 0.5;
  pointer-events: none;
}

.wrapper__about {
  padding: 0 15px;
}

.wrapper__title {
  padding: 0 15px;
  background-color: rgb(184, 234, 243);
}

.about__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
}
.about__header button {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: none;
}
.about__header__nav {
  display: flex;
  flex-direction: column;
}
.about__header__link {
  text-decoration: none;
  margin-right: 15px;
  color: #000;
}
.about__header__title {
  margin: 0;
  color: #000;
}
.about__header__img {
  height: 25px;
  width: 25px;
}
.about__title {
  padding: 20px 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description__title span {
  color: rgb(190, 80, 16);
}
.description__text {
  max-width: 600px;
}

@media (min-width: 800px) {
  .wrapper__about {
    padding: 0 150px;
  }
  .wrapper__title {
    padding: 0 150px;
  }
}
.shoppingCart {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  min-height: 100%;
  width: 300px;
  display: none;
  flex-direction: column;
}
.shoppingCart__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.shoppingCart__main::-webkit-scrollbar {
  display: none;
}
.shoppingCart__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
}
.shoppingCart__title {
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
}
.shoppingCart__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}
.shoppingCart__item__title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 2px;
}
.shoppingCart__item__price {
  margin: 0;
  font-size: 12px;
}
.shoppingCart__item__remove {
  margin-bottom: 0;
  margin-top: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
}
.shoppingCart__item__img {
  width: 70px;
  height: 50px;
  border-radius: 5px;
}
.shoppingCart__item__description {
  flex: 1 1 auto;
  margin-left: 4px;
}
.shoppingCart__amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shoppingCart__amount img {
  height: 15px;
}
.shoppingCart__amount__more {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.shoppingCart__amount__number {
  font-size: 12px;
}
.shoppingCart__amount__less {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.shoppingCart__result {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shoppingCart__summary {
  font-size: 22px;
  font-style: italic;
}
.shoppingCart__checkout {
  width: 70%;
  color: #fff;
  background-color: rgb(201, 99, 31);
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}/*# sourceMappingURL=about.css.map */